# OpenRouter Configuration
OPEN_ROUTER=your_open_router_key_here
LLM_MODEL=google/gemini-2.0-flash-001

# Langfuse Configuration
LANGFUSE_PUBLIC_KEY=your_public_key
LANGFUSE_SECRET_KEY=your_secret_key
LANGFUSE_HOST=https://challenges.reply.com/langfuse

# Submission Info
TEAM_NAME=Bilal Khan a7ed Team
